*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(27, 188, 155);
}
.cuntainer{
    width: 300px;
    position:absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}
input{
    padding: 10px;
}
.text-field{
    font-size: 0.75em;
    border: 0px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}
.but-input{
    font-size: 0.75em;
    border: 0px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: rgb(27, 188, 155);
    color: white;
}
.links{
    text-align: center;
    margin: 0px;
}
.links a{
    font-size: 0.75em;
    color: gray;

}