.sq-mt0 {margin-top: 0!important;}
.sq-mt1 {margin-top: 10px!important;}
.sq-mt2 {margin-top: 20px!important;}
.sq-mt3 {margin-top: 30px!important;}

.sq-mb0 {margin-bottom: 0!important;}
.sq-mb1 {margin-bottom: 10px!important;}
.sq-mb2 {margin-bottom: 20px!important;}
.sq-mb3 {margin-bottom: 30px!important;}

.sq-ml0 {margin-left:  0!important;}
.sq-ml1 {margin-left: 10px!important;}
.sq-ml2 {margin-left: 20px!important;}
.sq-ml3 {margin-left: 30px!important;}

.sq-mz0 {margin-right:  0!important;}
.sq-mz1 {margin-right: 10px!important;}
.sq-mz2 {margin-right: 20px!important;}
.sq-mz3 {margin-right: 30px!important;}