div.card > div.card-body >h5.card-title {
    color: orange!important; /*important 무조건 이걸로 출력한다*/
}

div.movie-card .photo {
    
}
div.movie-card .sub-title {
    color: #f000d4;
}
div.movie-card .title {
    font-weight: 700;
}
div.movie-card .owner {
    color: #666666;
}