body{
    text-align: center;
}
header{
    background: black;
    color: white;
    padding:20px 0;
}
img{
    width: 100px;
    height: 100px;
}

.ham-q1{
    padding-top: 100px;
}
.ham-q2{
    font-size: 40px;
    font-weight: 700;
}
.ham-q3{
    margin: 100px;
}