*{
    margin:0;
    padding:0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    text-align: center;
    font-size: 1.4em;
    padding: 10px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.4);
}
button{
    padding: 10px 20px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc;
}